.section-blocks {
	display: -ms-grid;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media screen and (max-width: 800px) {
	.section-blocks {
		gap: 17px;
	}
}

@media screen and (max-width: 390px) {
	.section-blocks {
		gap: 10px;
	}
}
