.partners__title {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	letter-spacing: -1px;
	-webkit-font-feature-settings: "pnum" on, "lnum" on;
	font-feature-settings: "pnum" on, "lnum" on;
	color: #000000;
}

@media screen and (max-width: 800px) {
	.partners__title {
		font-size: 30px;
		line-height: 37px;
	}
}

@media screen and (max-width: 400px) {
	.partners__title {
		text-align: left;
		-ms-flex-item-align: start;
		align-self: flex-start;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.5px;
		padding-left: 10px;
	}
}
