.header__logo {
	margin: 10px 91px 10px 20px;
	background-image: url(../../../images/балапанлар_лого.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101px;
	height: 100px;
}

@media screen and (max-width: 1439px) {
	.header__logo {
		margin: 10px 100px 10px 20px;
	}
}

@media screen and (max-width: 1220px) {
	.header__logo {
		margin: 5px 0 5px 20px;
		width: 71px;
		height: 70px;
	}
}

@media screen and (max-width: 800px) {
	.header__logo {
		min-width: 101px;
		height: 22px;
		background-image: url(../../../images/лого_прописной.svg);
		margin: 10px 204px 10px 15px;
		background-repeat: no-repeat;
	}
}
