.header__logo {
	margin: 10px 91px 10px 20px;
	background-image: url(../../../images/балапанлар_лого.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101px;
	height: 100px;
}

@media screen and (max-width: 1439px) {
	.header__logo {
		margin: 10px 100px 10px 20px;
	}
}

@media screen and (max-width: 1220px) {
	.header__logo {
		margin: 5px 0 5px 20px;
		width: 71px;
		height: 70px;
	}
}

@media screen and (max-width: 800px) {
	.header__logo {
		height: 35px;
		width: 165px;
		background-image: url(../../../images/лого_прописной.svg);
		margin: 10px 158px 12px 74px;
	}
}

@media screen and (max-width: 420px) {
	.header__logo {
		height: 35px;
		margin: 10px 130px 12px 30px;
	}
}

@media screen and (max-width: 390px) {
	.header__logo {
		margin: 10px 130px 12px 20px;
	}
}

@media screen and (max-width: 350px) {
	.header__logo {
		height: 20px;
		margin: 10px 204px 12px 13px;
		width: 100px;
	}
}
