.link-box__text {
    margin: 0 255px 0 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.5px;
}

@media screen and (max-width: 1439px) {
    .link-box__text {
        font-size: 14px;
        margin: 0 200px 0 10px;
    }
}

@media screen and (max-width: 1220px) {
    .link-box__text {
        font-size: 9px;
        line-height: 10px;
    }
}