.link-box__text {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.5px;
}

@media screen and (max-width: 1439px) {
	.link-box__text {
		font-size: 16px;
	}
}

@media screen and (max-width: 1319px) {
	.link-box__text {
		font-size: 14px;
		line-height: 10px;
	}
}

@media screen and (max-width: 1220px) {
	.link-box__text {
		font-size: 9px;
		line-height: 10px;
	}
}

@media screen and (max-width: 800px) {
	.link-box__text {
		font-size: 16px;
		line-height: 20px;
		text-align: start;
		margin: 0 21px 0 15px;
		max-width: 344px;
	}
}

@media screen and (max-width: 600px) {
	.link-box__text {
		text-align: center;
	}
}

