.popup__button {
    margin: 0;
    padding: 0;
    border: none;
  }

  .popup__button:hover {
    cursor: pointer;
  }

	/* @media screen and (max-width:400px) {
		.popup__button {
			text-align: left;
		}
	} */
