.wallpaper__title {
    max-width: 1144px;
    min-height: 180px;
    font-style: normal;
    font-weight: 600;
    font-size: 86px;
    line-height: 90px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin: 0 147px 0 148px;
    padding: 80px 0;
}

@media screen and (max-width: 1439px) {
    .wallpaper__title {
        font-size: 72px;
        padding: 65px 0;
    }
}

@media screen and (max-width: 1220px) {
    .wallpaper__title {
        min-height: 100px;
        font-size: 40px;
        padding: 30px 0;
        line-height: 50px;
    }
}

@media screen and (max-width: 800px) {
    .wallpaper__title {
        max-width: 292px;
        min-height: 132px;
        font-size: 36px;
        line-height: 44px;
        margin: 0;
        padding: 74px 0 30px 14px;
    }
}
