.scroll__education-image {
	width: 420px;
	height: 420px;
}

@media screen and (max-width: 1439px) {
	.scroll__education-image {
		width: 400px;
		height: 400px;
		margin-top: 60px;
	}
}

@media screen and (max-width: 1220px) {
	.scroll__education-image {
		width: 417px;
		height: 417px;
		margin-top: 160px;
	}
}

@media screen and (max-width: 550px) {
	.scroll__education-image {
		width: 230px;
		height: 230px;
	}
}

@media screen and (max-width: 390px) {
	.scroll__education-image {
		margin-top: 60px;
	}
}
