.header__logo_scroll {
	margin: 22px 0 22px 20px;
	width: 192px;
	height: 36px;
	overflow: hidden;
	background-image: url(../../../../images/лого_прописной.svg);
	background-size: cover;
}

@media screen and (max-width: 1440px) {
	.header__logo_scroll {
		background-position: center;
		-webkit-transition: linear 0.1s;
		-o-transition: linear 0.1s;
		transition: linear 0.1s;
	}
}

@media screen and (max-width: 1220px) {
	.header__logo_scroll {
		background-position: center;
		background-size: contain;
		width: 104px;
	}
}

@media screen and (max-width: 800px) {
	.header__logo_scroll {
		width: 165px;
		height: 35px;
		margin: 10px 0 10px 76px;
	}
}

@media screen and (max-width: 420px) {
	.header__logo_scroll {
		margin: 10px 0 10px 33px;
	}
}

@media screen and (max-width: 390px) {
	.header__logo_scroll {
		margin: 10px 0 10px 20px;
	}
}

@media screen and (max-width: 350px) {
	.header__logo_scroll {
		width: 100px;
		height: 20px;
		margin: 10px 204px 10px 16px;
	}
}
