.block__div {
	position: relative;
	border-radius: 60px;
	max-width: 595px;
	max-height: 524px;
	overflow: hidden;
}

@media screen and (max-width: 400px) {
	.block__div {
		border-radius: 30px;
		margin: 0 auto 0 auto;
	}
}
