.button_pay {
	position: absolute;
	bottom: 32px;
	left: 30px;
}

@media screen and (max-width: 1220px) {
	.button_pay {
		position: absolute;
		bottom: 30px;
		left: 30px;
	}
}

@media screen and (max-width: 400px) {
	.button_pay {
		left: 15px;
		bottom: 15px;
	}
}
