.button_pay {
	max-width: 230px;
}

@media screen and (max-width: 1220px) {
	.button_pay {
		margin-top: 30px;
	}
}

/* @media screen and (max-width: 400px) {
	.button_pay {
		left: 30px;
		bottom: 15px;
		position: static;
    margin-top: 30px;
		max-width: 230px;
>>>>>>> 6f48ae22dae48b2ef6e9b62faf46f588c307d4be
	}
} */
