.button_pay {
	position: absolute;
  bottom: 32px;
	left: 30px;
	max-width: 230px;
}

@media screen and (max-width: 1220px) {
	.button_pay {
		position: static;
    margin-top: 30px;
		max-width: 230px;
		/* bottom: 30px;
		left: 30px; */
	}
}

/* @media screen and (max-width: 800px) {
	.button_pay {
		position: static;
    margin-top: 30px;
	}
} */

/* @media screen and (max-width: 400px) {
	.button_pay {
		left: 15px;
		bottom: 15px;
	}
} */
