@media screen and (max-width: 800px) {
	.burger-menu__logo {
		min-width: 151.5px;
		min-height: 150px;
	}
}

@media screen and (max-width: 600px) {
	.burger-menu__logo {
		min-width: 101px;
		min-height: 100px;
	}
}


