.body {
/* 	font-family: Montserrat, Arial, sans-serif; */
	font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
	margin: 0 auto;
	max-width: 1440px;
	min-width: auto;
	background-color: #eaf0ff;
	-ms-scroll-chaining: none;
	overscroll-behavior: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
