.body {
    margin: 0 auto;
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
    min-width: auto;
    background-color: #eaf0ff;
    overscroll-behavior: none;
    max-width: 1440px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    /* align-items: center; */
}

.body:first-child {
    gap: 14px;
}

@media screen and (max-width: 1439px) {
    .body {
        width: 100%;
    }
}

@media screen and (max-width: 1220px) {
    .body {
        max-width: 1220px;
    }
    .body:first-child {
        gap: 7px;
    }
}
