.wallpaper {
    max-width: 1440px;
    position: relative;
}

@media screen and (max-width: 1439px) {
    .wallpaper {
        max-width: 1220px;
    }
}


@media screen and (max-width: 1220px) {
    .wallpaper {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .wallpaper {
        max-width: 320px;
    }
}
