.wallpaper {
    max-width: 1440px;
    position: relative;
}

/* @media screen and (max-width: 1439px) {
    .wallpaper {
        max-width: 1220px;
    }
} */


@media screen and (max-width: 1220px) {
    .wallpaper {
        max-width: 1000px;
        margin: 0 auto 0 auto;
    }
}

@media screen and (max-width: 800px) {
	.wallpaper {
			max-height: 1053px;
	}
}


 @media screen and (max-width: 478px) {
    .wallpaper {
        max-width: 100%;
				max-height: 746px;
    }
}
