.container_about {
	background-color: white;
	border-radius: 60px 60px 0 0;
	padding: 120px 120px 80px 120px;
	margin: 120px auto 0 auto;
	max-width: 1440px;
}
@media screen and (max-width: 1124px) {
	.container_about {
/* 		max-width: 320px; */
/* сделала паддинг везде по 30px. В соседнем блоке свои верхние паддинги, нижний отступ для блока О нас тоже нужно оформить в этом блоке */
		padding: 30px;
	}
}

@media screen and (max-width: 650px) {
	.container_about {
		border-radius: 30px 30px 0 0;
	}
}

@media screen and (max-width: 400px) {
	.container_about {
		/* max-width: 320px; */
		/* удалила ограничение ширины, его нет в макете */
		padding: 30px 0 30px 0;
		justify-content: center;
	}
}
