.teg__about {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 400px) {
    .teg__about {
        font-size: 16px;
        line-height: 20px;
    }
  }