.popup__course-buttons {
		display: flex;
    	margin-top: -83px;
		column-gap: 30px;

}

@media screen and (max-width:640px) {
	.popup__course-buttons {
				display: flex;
				flex-direction: column-reverse;
				margin-top: -83px;
				align-items: flex-start;
				row-gap: 20px;
		}
}
