.partner__info {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    color: #000000;
  }

  @media screen and (max-width: 650px) {
    .partner__info {
      margin-top: -10px;
      padding: 0 5px;
    }
  }
