.header__info {
    max-width: 701px;
    margin: auto 119px auto 157px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    gap: 30px;
}

@media screen and (max-width: 1439px) {
    .header__info {
        max-width: 651px;
        margin: auto 50px auto 60px;
        gap: 22px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1220px) {
    .header__info {
        width: 446px;
        margin: auto 20px auto 20px;
        gap: 5px;
        font-size: 11px;
        line-height: 22px;
    }
}

@media screen and (max-width: 800px) {
    .header__info {
        display: none;
        flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        max-width: 290px;
        min-height: 170px;
        text-align: center;
        margin: 30px 0 30px;
    }
}




