.section-blocks_courses {
	padding: 40px 10px 10px 10px;
}

@media screen and (max-width: 1220px) {
	.section-blocks_courses {
		grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 30px 10px 10px 10px;
	}
}

@media screen and (max-width: 800px) {
	.section-blocks_courses {
		padding: 40px 30px 30px 30px;
	}
}

@media screen and (max-width: 400px) {
	.section-blocks_courses {
		-ms-grid-columns: 300px;
		grid-template-columns: 300px;
		padding: 10px 10px 10px 10px;
		max-width: 300px;
	}
}
