.pinck-scroll {
	height: 1000px;
	width: 100%;
	background-color: #ae46ff;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .pinck-scroll {
      margin-top: -100px;
      border-radius: 30px;
    }
  }