.pinck-scroll {
	height: 1000px;
	width: 1440px;
	background-color: #ae46ff;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
}
