.page__container {
	max-width: 1440px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.page__container:first-child {
	gap: 14px;
}

@media screen and (max-width: 1439px) {
	.page__container {
		width: 100%;
	}
}

@media screen and (max-width: 1220px) {
	.page__container {
		max-width: auto;
	}
	.page__container:first-child {
		gap: 7px;
	}
}
