  .partner__button {
    font-family: 'Montserrat';
    font-style: normal;
    font-feature-settings: 'pnum' on, 'lnum' on;
    width: 342px;
    height: 64px;
    position: relative;
    background-color: #252525;
  }
    @media screen and (max-width: 650px) {
      .partner__button {
        width: 214px;
    }
    }