.partner__button {
	font-weight: 600;
	font-feature-settings: 'pnum' on, 'lnum' on;
	width: 214px;
	height: 64px;
	position: relative;
	background-color: #252525;
}
	@media screen and (max-width: 950px) {
		.partner__button {
			width: 214px;
	}
	}

	@media screen and (max-width: 650px) {
		.partner__button {
			width: 214px;
			align-self: flex-start;
	}
	}


