.header_small {
	max-width: 100%;
	max-height: 80px;
	position: sticky;
	z-index: 5;
	padding: 0;
}

@media screen and (max-width: 1220px) {
	.header_small {
		max-height: 60px;
	}
}

@media screen and (max-width: 800px) {
	.header_small {
		max-height: 42px;
	}
}
