.header_small {
    width: 100%;
    max-height: 80px;
}

@media screen and (max-width: 1220px) {
    .header_small {
        max-height: 60px;
    }
}

@media screen and (max-width: 800px) {
    .header_small {
        max-height: 42px;
    }
}
