.picture-text {
	position: absolute;
	max-width: 300px;
	bottom: -20px;
	left: 30px;
	rotate: 0;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1px;
}

@media screen and (max-width: 880px) {
	.picture-text {
		font-size: 40px;
		line-height: 49px;
		bottom: -8px;
		left: 30px;
	}
}

@media screen and (max-width: 400px) {
	.picture-text {
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.5px;
		max-width: 146px;
		bottom: -16px;
		left: 16px;
	}
}
