.box__description {
	max-width: 804px;
	margin: 10px auto 0 auto;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

@media screen and (max-width: 1220px) {
	.box__description {
		/* padding: 0 10px; */
		padding: 0 30px;
	}
}

@media screen and (max-width: 880px) {
	.box__description {
		margin: 15px auto 0 auto;
	}
}

@media screen and (max-width: 400px) {
	.box__description {
		max-width: 300px;
		font-size: 16px;
		line-height: 20px;
		padding: 0 15px;
		margin: 10px auto 0 auto;
	}
}
