@media screen and (min-width: 800px) {
/* @media screen and (min-width: 801px) { */
    .options {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .options {
        display: inline-block;
        background-color: #ffff;
        width: 28px;
        height: 8px;
        padding: 0;
        cursor: pointer;
        position: absolute;
        top: 17px;
        left: 275px;
        z-index: 65;
        border-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
