.about-place__image {
	border-radius: 60px;
}

@media screen and (max-width: 800px) {
	.about-place__image {
		border-radius: 20px;
		/* max-width: 290px; */
		/* width: calc(100%); */
		width: calc(100% - 30px);
	}
}
