.scroll__investing-image {
	width: 610px;
	height: 420px;
}

@media screen and (max-width: 1440px) {
	.scroll__investing-image {
		width: 350px;
		height: 350px;
		margin-top: 60px;
	}
}

@media screen and (max-width: 1220px) {
	.scroll__investing-image {
		width: 420px;
		height: 420px;
		margin-top: 160px;
	}
}

@media screen and (max-width: 550px) {
	.scroll__investing-image {
		width: 230px;
		height: 230px;
	}
}

@media screen and (max-width: 390px) {
	.scroll__investing-image {
		margin-top: 60px;
	}
}
