.button_header {
	background-color: #0b0b0b;
	min-width: 224px;
	min-height: 52px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	margin-left: 60px;
	padding: 0;
	z-index: 23;
	cursor: pointer;
}

.button_header:hover {
	background-color: #333333;
}

@media screen and (max-width: 1220px) {
	.button_header {
		min-width: 155px;
		min-height: 35px;
		font-weight: 600;
		font-size: 10px;
		margin-right: 20px;
		margin-left: 0;
	}
}

@media screen and (max-width: 800px) {
	.button_header {
		display: none;
		min-width: 395px;
		min-height: 104px;
		font-size: 28px;
		line-height: 34px;
		margin: 0;
	}
	.button_header:hover {
		background-color: #333333;
	}
}

@media screen and (max-width: 600px) {
	.button_header {
		display: none;
		min-width: 224px;
		min-height: 52px;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		margin: 0;
	}
}



.button_header_visible {
	display: block;
}
