.popup__window {
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    max-width: 100%;
    background: #FFFFFF;
    border-radius: 60px;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 0px 5px 7px 0px rgba(34, 60, 80, 0.08);
    box-shadow: 0px 5px 7px 0px rgba(34, 60, 80, 0.08);
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    position: relative;
  }

	@media screen and (max-width: 600px) {
		.popup__window {
			border-radius: 30px;
		}
	}

	@media screen and (max-width: 400px) {
		.popup__window {
			padding: 15px;
		}
	}
