.popup__mobile-link {
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 28px;
    visibility: hidden;
  }
  @media screen and (max-width: 950px){
    .popup__mobile-link{
      visibility: visible;
    }
  }