.button_pale {
	background-color: transparent;;
	border: none;
	padding: 0;
	color: black;
	margin-left: 30px;
	transition: 0.3s linear;
}

.button_pale:hover {
	opacity: 0.6;
  -webkit-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
	background-color: transparent;
}

@media screen and (max-width: 880px) {
	.button_pale {
		font-size: 16px;
		line-height: 20px;
	}
}

@media screen and (max-width: 600px) {
	.button_pale {
		margin-left: 0;
		margin-bottom: 20px;
	}
}
