.partners__logo:last-child {
    margin: 0 4px 0 18px;
  }

  @media screen and (max-width: 950px) {
    .partners__logo:last-child {
      margin: 0 0 0 8px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .partners__logo:last-child {
      margin: 0;
    }
  }
  
  @media screen and (max-width: 650px) {
    .partners__logo {
      border: 2px solid #EAF0FF;
      border-radius: 30px;
      width: 290px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }