.partners {
    margin: 0;
    padding: 80px 0 160px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 0 0 60px 60px;
  }
  @media screen and (max-width: 650px) {
    .partners {
      row-gap: 30px;
      padding: 30px 0 100px;
    }
  }