.list_price {
	margin-top: 15px;
	max-width: 347px;
}

@media screen and (max-width: 1440px) {
	.list_price {
		max-width: 100%;
	}
}

@media screen and (max-width: 390px) {
	.list_price {
		margin-top: 20px;
	}
}
