.scroll__skills-image {
	max-width: 610px;
	height: 420px;
}
@media screen and (max-width: 1439px) {
	.scroll__skills-image {
		max-width: 510px;
		height: 360px;
	}
}
@media screen and (max-width: 1220px) {
	.scroll__skills-image {
		max-width: 420px;
		height: 420px;
		border-radius: 500px;
	}
}
@media screen and (max-width: 550px) {
	.scroll__skills-image {
		max-width: 230px;
		height: 158px;

	}
}
