.price-block__amount {
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -1px;
	margin: 0;
}

@media screen and (max-width: 880px) {
	.price-block__amount {
		font-size: 30px;
		line-height: 40px;
		letter-spacing: -0.5px;
	}
}

@media screen and (max-width: 400px) {
	.price-block__amount {
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.5px;
		margin: 0 auto;
		padding: 0;
	}
}
