.price-block {
	max-width: 342px;
	margin: 0;
}

@media screen and (max-width: 800px) {
	.price-block {
		max-width: 100%
	}
}

@media screen and (max-width: 400px) {
	.price-block {
		max-width: 269px;
	}
}
