/* stylelint-disable-next-line function-url-quotes */
@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/test.css);
@import url(../blocks/body/body.css);
@import url(../blocks/courses-container/courses-container.css);
@import url(../blocks/courses-container/__heading/courses-container__heading.css);
@import url(../blocks/programming/programming.css);
@import url(../blocks/programming/__heading/programming__heading.css);
@import url(../blocks/programming/__description/programming__description.css);
@import url(../blocks/programming/__courses/programming__courses.css);
@import url(../blocks/course-block/course-block.css);
@import url(../blocks/course-block/__name/course-block__name.css);
@import url(../blocks/course-block/__for/course-block__for.css);
@import url(../blocks/image/image.css);
@import url(../blocks/text/text.css);
@import url(../blocks/course-block/__tegs/course-block__tegs.css);
@import url(../blocks/teg/teg.css);
@import url(../blocks/teg/about/teg__about.css);
@import url(../blocks/course-block/__description/course-block__description.css);
@import url(../blocks/course-block/__description/_other/course-block__description_other.css);
@import url(../blocks/description-text/description-text.css);
@import url(../blocks/course-block/__buttons/course-block__buttons.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_pale/button_pale.css);
@import url(../blocks/button/_pay/button_pay.css);
@import url(../blocks/other-courses/other-courses.css);
@import url(../blocks/course-block/_other/course-block_other.css);
@import url(../blocks/price-container/price-container.css);
@import url(../blocks/price-block/price-block.css);
@import url(../blocks/price-block/__amount/price-block__amount.css);
@import url(../blocks/price-description/price-description.css);
@import url(../blocks/price-description/__name/price-description__name.css);
@import url(../blocks/price-description/__list/price-description__list.css);
@import url(../blocks/list-point/list-point.css);
@import url(../blocks/list-point/__img/list-point__img.css);
@import url(../blocks/list-point/__text/list-point__text.css);
@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__title/partners__title.css);
@import url(../blocks/partners/__logo-zone/partners__logo-zone.css);
@import url(../blocks/partners/__logo/partners__logo.css);
@import url(../blocks/partners/__pic/partners__pic.css);
@import url(../blocks/partners/__logo-button/partners__logo-button.css);
@import url(../blocks/partners/partners_lecturers-button.css);
@import url(../blocks/partners/partners_horizon-button.css);
@import url(../blocks/partners/partners_himbio-button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/popup_opened.css);
@import url(../blocks/partner/__window/partner__window.css);
@import url(../blocks/partner/__logo/partner__logo.css);
@import url(../blocks/partner/__pic/partner__pic_lecturers.css);
@import url(../blocks/partner/__pic/partner__pic_horizon.css);
@import url(../blocks/partner/__pic/partner__pic_himbio.css);
@import url(../blocks/partner/__info/partner__info.css);
@import url(../blocks/partner/__button/partner__button.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__window/popup__window.css);
@import url(../blocks/popup/popup_courses.css);


@import url(../blocks/container/container.css);
@import url(../blocks/container/_about/container_about.css);
@import url(../blocks/container/__description/container__description.css);
@import url(../blocks/container/__heading/container__heading.css);
@import url(../blocks/container/_courses/container_courses.css);
@import url(../blocks/picture/picture.css);
@import url(../blocks/picture-color/picture-color.css);
@import url(../blocks/picture-text/_white/picture-text_white.css);
@import url(../blocks/picture-text/picture-text.css);
@import url(../blocks/section-blocks/section-blocks.css);
@import url(../blocks/section-blocks/_about/section-blocks_about.css);
@import url(../blocks/section-blocks/_courses/section-blocks_courses.css);
@import url(../blocks/block/__description/_about/block__description_about.css);
@import url(../blocks/block/__div/block__div.css);
@import url(../blocks/block/__text/block__text.css);
@import url(../blocks/block/block.css);
@import url(../blocks/ul-name/__img/ul-name__img.css);
@import url(../blocks/ul-name/__text/_price/ul-name__text_price.css);
@import url(../blocks/ul-name/__text/ul-name__text.css);
@import url(../blocks/ul-name/ul-name.css);



@import url(../blocks/pinck-scroll/pinck-scroll.css);
@import url(../blocks/pinck-scroll/__title/pinck-scroll__title.css);
@import url(../blocks/pinck-scroll/__container/pinck-scroll__container.css);
@import url(../blocks/pinck-scroll/__container-title/pinck-scroll__container-title.css);
@import url(../blocks/pinck-scroll/__skills/pinck-scroll__skills.css);
@import url(../blocks/pinck-scroll/__investing/pinck-scroll__investing.css);

@import url(../blocks/page/__container/page__container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__info/header__info.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/_scroll/header__logo_scroll.css);
@import url(../blocks/header/__info/_visible/header__info_visible.css);
@import url(../blocks/header/_small/header_small.css);

@import url(../blocks/options/options.css);
@import url(../blocks/options/__stick/options__stick.css);
@import url(../blocks/options/__stick/_rotate-one/options__stick_rotate-one.css);
@import url(../blocks/options/__stick/_rotate-two/options__stick_rotate-two.css);

@import url(../blocks/main/main.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_header/button_header.css);
@import url(../blocks/button/_wallpaper/button_wallpaper.css);
@import url(../blocks/button/_telegram/button_telegram.css);

@import url(../blocks/wallpaper/wallpaper.css);
@import url(../blocks/wallpaper/__picture/wallpaper__picture.css);
@import url(../blocks/wallpaper/__title/wallpaper__title.css);

@import url(../blocks/link-box/link-box.css);
@import url(../blocks/link-box/__text/link-box__text.css);
@import url(../blocks/link-box/__logo/link-box__logo.css);

@import url(../blocks/purpose/purpose.css);
@import url(../blocks/purpose/__text/purpose__text.css);

@import url(../blocks/burger-menu/burger-menu.css);
@import url(../blocks/burger-menu/_opened/burger-menu_opened.css);




.courses_opened {
    text-align: left;
}

.popup_courses-icons {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.popup__circle-icon {
    visibility: hidden;
}

/* оставлено пока в общем файле, т.к. могут поменяться названия классов и необходимость в них под вопросом */
