/* stylelint-disable-next-line function-url-quotes */
@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/test.css);
@import url(../blocks/body/body.css);
@import url(../blocks/courses-container/courses-container.css);
@import url(../blocks/courses-container/__heading/courses-container__heading.css);
@import url(../blocks/programming/programming.css);
@import url(../blocks/programming/__heading/programming__heading.css);
@import url(../blocks/programming/__description/programming__description.css);
@import url(../blocks/programming/__courses/programming__courses.css);
@import url(../blocks/course-block/course-block.css);
@import url(../blocks/course-block/__name/course-block__name.css);
@import url(../blocks/course-block/__for/course-block__for.css);
@import url(../blocks/image/image.css);
@import url(../blocks/text/text.css);
@import url(../blocks/course-block/__tegs/course-block__tegs.css);
@import url(../blocks/teg/teg.css);
@import url(../blocks/teg/about/teg__about.css);
@import url(../blocks/course-block/__description/course-block__description.css);
@import url(../blocks/course-block/__description/_other/course-block__description_other.css);
@import url(../blocks/description-text/description-text.css);
@import url(../blocks/course-block/__buttons/course-block__buttons.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_pale/button_pale.css);
@import url(../blocks/button/_pay/button_pay.css);
@import url(../blocks/other-courses/other-courses.css);
@import url(../blocks/course-block/_other/course-block_other.css);
@import url(../blocks/price-container/price-container.css);
@import url(../blocks/price-block/price-block.css);
@import url(../blocks/price-block/__amount/price-block__amount.css);
@import url(../blocks/price-description/price-description.css);
@import url(../blocks/price-description/__name/price-description__name.css);
@import url(../blocks/price-description/__list/price-description__list.css);
@import url(../blocks/list-point/list-point.css);
@import url(../blocks/list-point/__img/list-point__img.css);
@import url(../blocks/list-point/__text/list-point__text.css);
@import url(../blocks/pinck-scroll/pinck-scroll.css);
@import url(../blocks/pinck-scroll/__title/pinck-scroll__title.css);
@import url(../blocks/pinck-scroll/__container/pinck-scroll__container.css);
@import url(../blocks/pinck-scroll/__container-title/pinck-scroll__container-title.css);
@import url(../blocks/pinck-scroll/__skills/pinck-scroll__skills.css);
@import url(../blocks/pinck-scroll/__investing/pinck-scroll__investing.css);
