.course-block {
	background-color: white;
	padding: 30px 30px 30px 30px;
	border-radius: 60px;
	max-width: 595px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	margin: 0;
}

@media screen and (max-width: 1220px) {
	.course-block {
		max-width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.course-block {
		padding: 15px 15px 15px 15px;
		border-radius: 30px;
	}
}
