.course-block__tegs {
	margin: 20px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
}

@media screen and (max-width: 400px) {
	.course-block__tegs {
		margin: 10px 0 0 0;
	}
}
