.other-courses {
	background-color: none;
	margin: 10px auto 0 auto;
	padding: 0 10px 0 10px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
	gap: 10px;
	margin: 10px auto 0 auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media screen and (max-width: 1220px) {
	.other-courses {
		grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media screen and (max-width: 800px) {
	.other-courses {
		padding: 0 30px;
	}
}

@media screen and (max-width: 400px) {
	.other-courses {
		-ms-grid-columns: 300px;
		grid-template-columns: 300px;
		max-width: 300px;
	}
}
