.link-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 1200px;
	min-height: 72px;
	background-color: #ae46ff;
	border-radius: 60px;
	color: #ffffff;
	margin: 326px auto 10px;
}

@media screen and (max-width: 1439px) {
	.link-box {
		max-width: 1080px;
		margin: 262px 120px 10px;
	}
}

@media screen and (max-width: 1220px) {
	.link-box {
		max-width: 660px;
		min-height: 32px;
		margin: 221px 70px 5px;
	}
}

@media screen and (max-width: 800px) {
	.link-box {
		max-width: 594px;
		min-height: 90px;
		margin: 447px 75px 10px;
	}
}

@media screen and (max-width: 600px) {
	.link-box {
		max-width: 100%;
		margin: 323px 0 0;
		border-radius: 30px;
		min-height: 224px;
		flex-direction: column;
		gap: 15px;

	}
}

@media screen and (max-width: 478px) {
	.link-box {
		margin: 228px 0 0;
	}
}
