.link-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: grid;
	grid-template-columns: 50px 1fr 168px;
	gap: 10px;
	justify-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	max-width: 1200px;
	min-height: 72px;
	background-color: #ae46ff;
	border-radius: 60px;
	color: #ffffff;
	margin: 326px auto 10px;
}

@media screen and (max-width: 1439px) {
	.link-box {
		max-width: 1080px;
		margin: 262px 168px 10px;
		justify-content: flex-start;
	}
}

/* @media screen and (max-width: 1319px) {
	.link-box {
		max-width: 980px;
		margin: 262px 165px 10px;
		justify-content: flex-start;
	}
} */

@media screen and (max-width: 1220px) {
	.link-box {
		max-width: 600px;
		grid-template-columns: 50px 1fr 107px;
		min-height: 32px;
		margin: 221px auto 5px auto;
	}
}

@media screen and (max-width: 800px) {
	.link-box {
		grid-template-columns: 30px 1fr 175px;
		max-width: 594px;
		min-height: 90px;
		margin: 447px 75px 10px;
	}
}

@media screen and (max-width: 630px) {
	.link-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		margin: 323px 0 0;
		border-radius: 30px;
		min-height: 224px;
		flex-direction: column;
		gap: 15px;

	}
}

@media screen and (max-width: 478px) {
	.link-box {
		margin: 228px 0 0;
		max-height: 224px;
	}
}
@media screen and (max-width: 320px) {
	.link-box {
		max-height: none;
	}
}