.box {
	margin: 40px auto 0 auto;
	background-color: #ffd643;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 70px;
}

@media screen and (max-width: 1220px) {
	.box {
		max-width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.box {
		border-radius: 60px;
	}
}

@media screen and (max-width: 400px) {
	.box {
		margin-top: 30px;
		border-radius: 40px;
		max-width: 320px;
	}
}
