.scroll__container-title {
	font-weight: 600;
	font-size: 60px;
	line-height: 68px;
	color: white;
	margin: 40px auto 0 auto;
	max-width: 847px;
}
.scroll__container-title:nth-of-type(1) {
	max-width: 537px;
}
@media screen and (max-width: 1439px) {
	.scroll__container-title {
		font-size: 42px;
		line-height: 50px;
        margin: 20px auto 0 auto;
        min-width: auto;
        text-align: center;
	}
}
@media screen and (max-width: 1220px) {
	.scroll__container-title {
		font-size: 36px;
		line-height: 44px;
	}
}
