.scroll__container-title {
	font-weight: 600;
	font-size: 60px;
	line-height: 68px;
	color: white;
	width: 584px;
	text-align: center;
	margin: 30px auto 0 auto;
}

.scroll__container-title:nth-last-child(1) {
	width: 847px;
}

@media screen and (max-width: 1439px) {
	.scroll__container-title {
		margin: 20px auto 0 auto;
		text-align: center;
		min-width: none;
	}
}

@media screen and (max-width: 1220px) {
	.scroll__container-title {
		margin: 38px auto 0 auto;
		width: auto;
	}

	.scroll__container-title:nth-last-child(1) {
		width: auto;
	}
}

@media screen and (max-width: 800px) {
	.scroll__container-title {
		font-size: 48px;
		line-height: 59px;
		letter-spacing: -1px;
	}
}

@media screen and (max-width: 500px) {
	.scroll__container-title {
		font-size: 36px;
		line-height: 44px;
	}
}

@media screen and (max-width: 390px) {
	.scroll__container-title {
		margin: 27px auto 0 auto;
	}
}


