.hidden-block {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: white;
	display: none;
}

@media screen and (max-width: 1220px) {
	.hidden-block {
		display: block;
		margin: 0 auto 0 auto;
	}
}
