.block {
	max-width: 700px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	row-gap: 40px;

}
@media screen and (max-width: 800px) {
	.block_about {
		row-gap: 30px;
	}
}
@media screen and (max-width: 1120px) {
	.block:last-of-type {
		margin-top: 60px;
	}
}
