.link-box__logo {
	margin-left: 20px;
}

@media screen and (max-width: 1220px) {
	.link-box__logo {
		width: 15px;
		height: 13px;
	}
}

@media screen and (max-width: 800px) {
	.link-box__logo {
		width: 22px;
		height: 18px;
	}
}

@media screen and (max-width: 600px) {
	.link-box__logo {
		margin-left: 0;
		margin-top: 34px;
	}
}

@media screen and (max-width: 320px) {
	.link-box__logo {
		width: 11px;
		height: 9px;
	}
}
