.button_telegram {
    min-width: 156px;
    max-height: 50px;
    background-color: #0B0B0B;
    color: #FFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    margin-right: 10px;
		padding: 15px 20px 20px 20px;
}

.button_telegram:hover {
    background-color:#333333;
}

@media screen and (max-width: 1220px) {
    .button_telegram {
        min-width: 100px;
        min-height: 22px;
        font-size: 9px;
				padding: 3px 20px 3px 20px;
    }
}
