.partners__logo-zone {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 90px;
	-moz-column-gap: 90px;
	column-gap: 90px;
	border: 2px solid #eaf0ff;
	border-radius: 60px;
	padding: 39px 80px 49px;
}

@media screen and (max-width: 1220px) {
	.partners__logo-zone {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: 60px;
		border-radius: 30px;
		padding: 60px 0;
		width: calc(100% - 15px * 2);
	}
}

@media screen and (max-width: 950px) {
	.partners__logo-zone {
		-webkit-column-gap: 40px;
		-moz-column-gap: 40px;
		column-gap: 40px;
		padding: 39px 40px 49px;
	}
}

@media screen and (max-width: 800px) {
	.partners__logo-zone {
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
		padding: 39px 25px 19px;
	}
}

  @media screen and (max-width: 650px) {
    .partners__logo-zone {
      flex-direction: column;
      row-gap: 10px;
      padding: 0 0 49px;
      width: calc(100% - 10px*2);
      border: none;
    }
  }
