.partners__logo-zone {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 90px;
	-moz-column-gap: 90px;
	column-gap: 90px;
	border: 2px solid #eaf0ff;
	border-radius: 60px;
	padding: 39px 80px 49px;
	max-width: 885px;
}

@media screen and (max-width: 1220px) {
	.partners__logo-zone {
		padding: 39px 0 30px;
		flex-direction:row;
		flex-wrap: wrap;
		-webkit-gap: 10px;
		-moz-gap: 10px;
		gap: 10px;
		border: none;
		max-width: calc(290px*2 + 10px + 2px*4);
	}
}

  @media screen and (max-width: 650px) {
    .partners__logo-zone {
      flex-direction: column;
      row-gap: 10px;
      padding: 0;
      width: calc(100% - 10px*2);
    }
  }
