.price-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 10px 0 10px;
    margin-top: 10px;
    background-color: #D0DDFF;
    border-radius: 60px;
    position: relative;
/*     justify-content: center; */
/*     margin: auto; */
}

@media screen and (max-width: 1220px) {
    .price-container {
        grid-template-columns: 386px;
        justify-content: center;
        margin: 10px auto 0 auto;
        max-width: 386px;
    }
  }

  @media screen and (max-width: 400px) {
    .price-container {
        margin: 0 10px 0 10px;
        padding: 0 15px 0 15px;
        grid-template-columns: 300px;
        margin-top: 10px;
        background-color: #D0DDFF;
        border-radius: 30px;
        max-width: 300px;
    }
  }