.price-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 394px 419px auto;
	grid-template-columns: 394px 419px auto;
	/* grid-template-columns: auto auto auto; */
	/* grid-template-columns: 394px auto auto; */
	/* 	justify-content: space-between; */
	padding: 30px 30px 48px 30px;
	background-color: #d0ddff;
	margin: 10px auto 0 auto;
	border-radius: 60px;
	position: relative;
	/* max-width: 1105px; */
	max-width: 1140px;
}

@media screen and (max-width: 1440px) {
	.price-container {
	grid-template-columns: auto auto auto;
	gap: 30px;
	}
}

@media screen and (max-width: 1220px) {
	.price-container {
		max-width: 100%;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 30px 30px 48px 30px;
	}
}

@media screen and (max-width: 880px) {
	.price-container {
		margin: 10px 30px 0;
		/* padding: 30px 30px 48px 30px; */
		padding: 30px;
		gap: 0;
	}
}

@media screen and (max-width: 400px) {
	.price-container {
		max-width: 277px;
		border-radius: 30px;
		margin: 10px auto 0 auto;
		padding-left: 15px;
		padding-right: 8px;
		padding-bottom: 15px;
	}
}
