.purpose {
    padding: 120px 0 80px;
    max-width: 1009px;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
		margin: 0 auto;
}

@media screen and (max-width: 1439px) {
    .purpose {
        max-width: 760px;
        font-size: 26px;
    }
}

@media screen and (max-width: 1220px) {
    .purpose {
        padding: 60px 0 60px;
        max-width: 635px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 800px) {
    .purpose {
				padding: 40px 15px 0;
        background-color: #EAF0FF;
        font-size: 24px;
        line-height: 29px;
				box-sizing: border-box;
    }
}
