.course-block__description {
	margin: 25px 0 93px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	max-height: 100%;
	padding-right: 30px
}

@media screen and (max-width: 880px) {
	.course-block__description {
		margin: 25px 0 124px 0;
	}
}

@media screen and (max-width: 400px) {
	.course-block__description {
		margin-top: 20px;
		margin-bottom: 124px;
		font-size: 16px;
		line-height: 20px;
		padding: 0;
	}
}
