.course-block_other {
/* 	max-width: 386px; */

	/* padding: 30px 0 30px 30px; */
	padding: 30px;
}

@media screen and (max-width: 1220px) {
	.course-block_other {
		max-width: 100%;
	}
}

@media screen and (max-width: 390px) {
	.course-block_other {
		max-width: 100%;
		padding: 15px;
	}
}

/* .course-block_other:nth-of-type(2) {
	width: 408px;
	height: 563px;
} */
