.course-block_other {
	padding: 30px;
}

@media screen and (max-width: 1220px) {
	.course-block_other {
		max-width: 100%;
	}
}

@media screen and (max-width: 390px) {
	.course-block_other {
		max-width: 100%;
		padding: 15px;
	}
}
