.block__description-price {
	max-width: 381px;
	margin: 18px 0 0 0;
	width: calc(100%-40px);
}
.block__description-price:last-of-type {
	max-width: 290px;
	margin: 18px 0 0 0;
}

@media screen and (max-width: 1220px) {
	.block__description-price {
		max-width: 595px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 36px;
	}
	.block__description-price:last-of-type {
		margin-top: 36px;
		max-width: 595px;
		margin-bottom: 84px;
		margin-right: 65px;
	}
}

@media screen and (max-width: 400px) {
	.block__description-price {
		margin-top: 20px;
	}
	.block__description-price:last-of-type {
		margin-top: 20px;
	}
}
