.section-blocks_about {
	margin-top: 60px;
	max-width: 1200px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media screen and (max-width: 1124px) {
	.section-blocks_about {
		margin-top: 80px;
		grid-template-columns: repeat(auto-fit, minmax(289px, 595px));
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media screen and (max-width: 400px) {
	.section-blocks_about {
		margin-top: 30px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0 15px 30px 15px;
	}
}
