.purpose__text {
	margin: 0;
}

@media screen and (max-width: 800px) {
	.purpose__text {
		letter-spacing: 0.2px;
	}
}

@media screen and (max-width: 400px) {
	.purpose__text {
		letter-spacing: 0.2px;
		margin-left: 15px;
	}
}
