.container__heading {
	font-weight: 600;
	font-size: 60px;
	line-height: 68px;
	letter-spacing: -1px;
	margin: 0;
}

<<<<<<< HEAD
@media screen and (max-width: 1124px) {
	.container__heading {
margin: 0 auto;
text-align: left;
max-width: 595px;
	}
}

@media screen and (max-width: 800px) {
	.container__heading {
	font-size: 48px;
  line-height: 59px;
	/* padding-left: 45px; */
	/* margin: 0 auto; */
text-align: left;
	}
}
=======
@media screen and (max-width: 800px) {
	.container__heading {
		margin-left: 50px;
		font-style: normal;
		font-size: 48px;
		line-height: 59px;
	}
}
>>>>>>> sizingfixes

@media screen and (max-width: 600px) {
	.container__heading {
		font-size: 40px;
		line-height: 54px;
		margin-left: 15px;
	}
}

@media screen and (max-width: 400px) {
	.container__heading {
		font-size: 36px;
		line-height: 44px;
		/* margin-left: 15px; */
		text-align: left;
	}
}
