.container__heading {
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -1px;
	margin: 0;
}

@media screen and (max-width: 1220px) {
  .container__heading {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .container__heading {
    font-size: 40px;
    line-height: 54px;

  }
}

@media screen and (max-width: 400px) {
  .container__heading {
    font-size: 36px;
    line-height: 44px;
    margin-left: 15px;
		text-align: left;
  }
}
