.wallpaper__picture {
    width: 1440px;
    height: 852px;
    background-image: url(../../../images/заставка.jpeg);
    border-radius: 60px;
}

@media screen and (max-width: 1439px) {
    .wallpaper__picture {
        width: 1220px;
        height: 724px;
        background-size: contain;
    }
}


@media screen and (max-width: 1220px) {
    .wallpaper__picture {
        width: 800px;
        height: 468px;
    }
}

@media screen and (max-width: 800px) {
    .wallpaper__picture {
        background-image: url(../../../images/заставка_320.jpeg);
        background-repeat: no-repeat;
        width: 320px;
        height: 562px;
				border-radius: 30px;
    }
}
