.wallpaper__picture {
    /* max-width: 1440px; */
    height: 852px;
		/* height: 100%; */
    background-image: url(../../../images/заставка.jpeg);
    border-radius: 60px;
		background-size: cover;
		width: 100%;
}

@media screen and (max-width: 1439px) {
    .wallpaper__picture {
        /* width: 1200px; */
        height: 724px;
        /* background-size: contain; */
    }
}


@media screen and (max-width: 1220px) {
    .wallpaper__picture {
        /* width: 800px; */
        height: 468px;
				/* width: 100%; */
    }
}

@media screen and (max-width: 800px) {
    .wallpaper__picture {
        /* background-image: url(../../../images/заставка_320.jpeg); */
        background-repeat: no-repeat;
        /* width: 320px; */
        height: 562px;
				border-radius: 30px;
    }
}
