.wallpaper__picture {
    /* width: 1440px; */
    height: 852px;
    background-image: url(../../../images/заставка.jpeg);
    border-radius: 60px;
		background-size: cover;
		background-position: center;
		width: 100%;
		text-align: center;
}

@media screen and (max-width: 1439px) {
    .wallpaper__picture {
        /* width: 1220px; */
        height: 724px;
        /* background-size: contain; */
    }
}

@media screen and (max-width: 1220px) {
    .wallpaper__picture {
        /* width: 800px; */
        height: 468px;
    }
}

@media screen and (max-width: 800px) {
    .wallpaper__picture {
        background-repeat: no-repeat;
        height: 1053px;
				/* border-radius: 30px; */
				border-radius: 50px;
    }
}

@media screen and (max-width: 390px) {
	.wallpaper__picture {
			border-radius: 40px;
	}
}

@media screen and (max-width: 478px) {
	.wallpaper__picture {
		max-height: 746px;
	}
}

