.partner__logo {
    border: 2px solid #EAF0FF;
    border-radius: 60px;
    width: 344px;
    height: 239px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  @media screen and (max-width: 650px) {
    .partner__logo {
      width: 300px;
      height: 200px;
      border-radius: 40px;
    }
  }