.container__description {
	text-align: left;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -1px;
	max-width: 915px;
	margin: 40px 0 0 0;
}

@media screen and (max-width:1124px) {
	.container__description {
		max-width: 560px;
		margin: 40px auto 0 auto;
		text-align: left;
	}
}

@media screen and (max-width:800px) {
	.container__description {
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.5px;
		text-align: left;
	}
}

@media screen and (max-width:400px) {
	.container__description {
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.5px;
	}
}

