.header {
	width: 100%;
	max-height: 120px;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 5;
}

@media screen and (max-width: 1439px) {
	.header {
		width: 100%;
	}
}

@media screen and (max-width: 1220px) {
	.header {
		max-width: 800px;
		min-height: 60px;
	}
}

@media screen and (max-width: 800px) {
	.header {
		min-width: 320px;
		min-height: 42px;
	}
}
