.courses-container__heading {
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -1px;
}

@media screen and (max-width: 1220px) {
  .courses-container__heading {
    margin-left: 45px;
  }
}

@media screen and (max-width: 400px) {
  .courses-container__heading {
    font-size: 36px;
    line-height: 44px;
    margin-left: 15px;
  }
}
