.course-block__for {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
}

@media screen and (max-width: 400px) {
    .course-block__for {
        display: flex;
        flex-direction: row;
        margin: 0 0 10px 0;
    }
  }
  