.popup__button_state_close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 35px;
    top: 35px;
    background-color: transparent;
    background-image: url(../../../../images/tallcross.svg);
    background-position: center;
    background-size: contain;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

	.popup__button_state_close:hover {
		opacity: 0.6;
		-webkit-transition: linear 0.3s;
		-o-transition: linear 0.3s;
		transition: linear 0.3s;
	}

  @media screen and (max-width: 950px){
    .popup__button_state_close{
      top: 30px;
      right: 30px;
      background-image: url(../../../../images/tallcross.svg);
    }
  }
