.popup {
    position: fixed;
    display: flex;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s 0.6s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0, 0, 0, .6);
  }